<div id='about' class="OneContainer">
	<div class="row">
		<div class="col-sm-6">
			<div class="Panel">
				<div class="PanelTitle">技术支持</div>
				<div class="PanelBody">
					<p>程序控制面板是lvyongjian提供的技术支持服务</p>
					<p>修复已知bug{13}个</p>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="Panel">
				<div class="PanelTitle">站长资料</div>
				<div class="PanelBody">
					<p>QQ：3259905827</p>
					<p>邮箱：3259905827@qq.com</p>
				</div>
			</div>
		</div>
	</div>

</div>

</div>
<script>
	MI.rListener('onload', function () {
		//自動調整菜單
		MCSERVER.autoColmDo();

	})

	MI.rListener('onend', function () {})
</script>